.detailImage {
  max-width: calc(100% - 2px);
  height: 230px;
  margin: auto;
}

h1.ant-typography {
  margin-bottom: 10px;
}

.subtitle {
  margin-left: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
