.ant-card-meta-description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 66px;
  min-height: 66px;
}
.image {
  max-width: calc(100% - 2px);
  height: 175px;
  margin: auto;
}

.ant-card-extra {
  .anticon:first-child {
    margin-right: 5px;
  }
}
